<div data-role="header" data-position="fixed">
    <a data-ajax="true" href="#panel_left" data-icon="grid" data-iconpos="left">Menü</a>
	<h1><%= window.system.owner.companyname %></h1>
    <a data-ajax="true" href="#panel_right" data-icon="gear" data-iconpos="notext">Prefs</a>
</div>

<div data-role="content">

    <!--
	<p>Click the button below no navigate to next view</p>
	<button id="noactionbtnid" href="#"># and noactionbtnid</button>
	<button id="NOLINKGIVENID" href="#NOLINKGIVEN">#NOLINKGIVEN and NOLINKGIVENID</button>
	<a href="#next">next</a>
	-->
    <button href="#next">Next w/href Button</button>
    <button id="btnNextView">Next Button</button>
	<button href="#login">#login</button>

	
	
	<!--
	<ul data-role="listview" data-inset="true">
		<li><a href="#"><img src="../_assets/img/gf.png" alt="France" class="ui-li-icon ui-corner-none">France</a></li>
		<li><a href="#"><img src="../_assets/img/de.png" alt="Germany" class="ui-li-icon">Germany</a></li>
		<li><a href="#"><img src="../_assets/img/gb.png" alt="Great Britain" class="ui-li-icon">Great Britain</a></li>
		<li><a href="#"><img src="../_assets/img/fi.png" alt="Finland" class="ui-li-icon">Finland</a></li>
		<li><a href="#"><img src="../_assets/img/us.png" alt="United States" class="ui-li-icon ui-corner-none">United States</a></li>
	</ul>
	-->
	
	<!--
	<a class="close-menu" href="#existing-content-menu">close-menu</a> 
	<br/>

	<a class="existing-content-menu" href="#existing-content-menu">existing-content-menu</a> 
	<br/>

	<a class="remote-content-menu" href="#remote-content-menu">Load remotelly</a>
	<br/>

	<a class="callback-menu" href="#callback-menu">Callback loaded</a>
	<br/>
	-->
	
	
    <ul data-role="listview">
        <li>
            <a href="#">
                Hello World!!!
            </a>
        </li>
        <li>
            <a href="#">
                Hello World!!!
            </a>
        </li>
        <li>
            <a href="#">
                Hello World!!!
            </a>
        </li>
        <li>
            <a href="#">
                Hello World!!!
            </a>
        </li>
        <li>
            <a href="#">
                Hello World!!!
            </a>
        </li>
        <li>
            <a href="#">
                Hello World!!!
            </a>
        </li>
        <li>
            <a href="#">
                Hello World!!!
            </a>
        </li>
        <li>
            <a href="#">
                Hello World!!!
            </a>
        </li>
        <li>
            <a href="#">
                Hello World!!!
            </a>
        </li>
        <li>
            <a href="#">
                Hello World!!!
            </a>
        </li>
        <li>
            <a href="#">
                Hello World!!!
            </a>
        </li>
        <li>
            <a href="#">
                Hello World!!!
            </a>
        </li>
        <li>
            <a href="#">
                Hello World!!!
            </a>
        </li>
        <li>
            <a href="#">
                Hello World!!!
            </a>
        </li>
        <li>
            <a href="#">
                Hello World!!!
            </a>
        </li>
        <li>
            <a href="#">
                Hello World!!!
            </a>
        </li>
        <li>
            <a href="#">
                Hello World!!!
            </a>
        </li>
        <li>
            <a href="#">
                Hello World!!!
            </a>
        </li>
        <li>
            <a href="#">
                Hello World!!!
            </a>
        </li>
        <li>
            <a href="#">
                Hello World!!!
            </a>
        </li>
        <li>
            <a href="#">
                Hello World!!!
            </a>
        </li>
        <li>
            <a href="#">
                Hello World!!!
            </a>
        </li>
        <li>
            <a href="#">
                Hello World!!!
            </a>
        </li>
    </ul>
	
</div>
