<div data-role="header" data-position="fixed">
    <a class="sidr_left" href="#sidr_left" data-icon="grid" data-iconpos="left">Menü</a>
    <h1>Home View</h1>
    <a style="float:right" class="sidr_left" href="#sidr_left" data-icon="plus" data-iconpos="right">Menü</a>
</div>

<div data-role="content">
    <p>Click the button below no navigate to next view</p>
    <button id="btnNextView">Next</button>
	
	<a href="#next">next</a>
	
	<!--
	<a class="close-menu" href="#existing-content-menu">close-menu</a> 
	<br/>

	<a class="existing-content-menu" href="#existing-content-menu">existing-content-menu</a> 
	<br/>

	<a class="remote-content-menu" href="#remote-content-menu">Load remotelly</a>
	<br/>

	<a class="callback-menu" href="#callback-menu">Callback loaded</a>
	<br/>
	-->
	
</div>