<ul data-role="listview" data-icon="delete">
	<li style="background-color:transparent;">
		<strong>Anmelden</strong>
	</li>
</ul>

<div style="padding:0px;50px;">
	<form id="loginform_panel_right">
		<div style="height:10px;float:none;clear:both;"></div>
		<label for="name">E-Mail-Adresse / Benutzername:</label>
		<input type="text" value="" id="username" name="username" placeholder=""/>
		<div style="height:10px;float:none;clear:both;"></div>
		<label for="password">Passwort:</label>
		<input type="password" value="" id="password" name="password" placeholder=""/>
		<div style="height:10px;float:none;clear:both;"></div>
		<a id="sendLoginBtn_panel_right" href="#" data-rel="close" class="ui-btn ui-shadow ui-corner-all ui-btn-a ui-mini sendLoginBtn_panel_right">Mit diesen Daten anmelden</a>
	</form>
</div>