<ul data-role="listview" data-icon="delete" data-rel="close" >
	<li style="background-color:transparent;">
		<a style="background-color:transparent;" data-ajax="true" href="#panel_right">Benutzerinformationen</a>
	</li>
</ul>

<div style="padding:0px;50px;">
	<p>
		Sie sind angemeldet als:
	</p>
	<p>
		Name: <%= window.me.fullname %> <br/>
		Benutzer: <%= window.me.username %> <br/>
	</p>
	<p>
		<a href="#myprofile" data-rel="close" class="ui-btn ui-shadow ui-corner-all ui-btn-a ui-mini">Profileinstellungen</a>
	</p>
</div>