<div data-role="header" data-position="fixed">
    <a id="btnBack" href="#" data-icon="back" data-iconpos="left">Zurück</a>
    <h1>Next View</h1>
    <a style="float:right" class="sidr_left" href="#sidr_left" data-icon="plus" data-iconpos="right">Menü</a>
</div>

<div data-role="content">
    <ul data-role="listview">
        <li>
            <a href="#">
                Hello World!!!
            </a>
        </li>
        <li>
            <a href="#">
                Hello World!!!
            </a>
        </li>
        <li>
            <a href="#">
                Hello World!!!
            </a>
        </li>
        <li>
            <a href="#">
                Hello World!!!
            </a>
        </li>
        <li>
            <a href="#">
                Hello World!!!
            </a>
        </li>
        <li>
            <a href="#">
                Hello World!!!
            </a>
        </li>
        <li>
            <a href="#">
                Hello World!!!
            </a>
        </li>
        <li>
            <a href="#">
                Hello World!!!
            </a>
        </li>
        <li>
            <a href="#">
                Hello World!!!
            </a>
        </li>
        <li>
            <a href="#">
                Hello World!!!
            </a>
        </li>
        <li>
            <a href="#">
                Hello World!!!
            </a>
        </li>
        <li>
            <a href="#">
                Hello World!!!
            </a>
        </li>
        <li>
            <a href="#">
                Hello World!!!
            </a>
        </li>
        <li>
            <a href="#">
                Hello World!!!
            </a>
        </li>
        <li>
            <a href="#">
                Hello World!!!
            </a>
        </li>
        <li>
            <a href="#">
                Hello World!!!
            </a>
        </li>
        <li>
            <a href="#">
                Hello World!!!
            </a>
        </li>
        <li>
            <a href="#">
                Hello World!!!
            </a>
        </li>
        <li>
            <a href="#">
                Hello World!!!
            </a>
        </li>
        <li>
            <a href="#">
                Hello World!!!
            </a>
        </li>
        <li>
            <a href="#">
                Hello World!!!
            </a>
        </li>
        <li>
            <a href="#">
                Hello World!!!
            </a>
        </li>
        <li>
            <a href="#">
                Hello World!!!
            </a>
        </li>
    </ul>
</div>
