<div style="padding:20px 20px 20px 20px;text-align:center;">

	<p>
		<button data-theme="a" data-mini="true" onClick="javascript:rotatePageOptionsIcon();history.back();return(false);">Zurück</button>
	</p>
	
	<img src="images/appicon.png" style="max-width:40%;width:500px;">
	
	<h5>Support</h5>
	
	<p>
	
		<strong>Inhalt-/Anbieter-Informationen</strong><br>
		<br>
		<%= window.system.app.title %><br>
		<!--
		Ottostraße 24, 85435 Erding<br>
		<br>
		Telefon:<br>+49 (8122) 187 287 2<br>
		<br>
		E-Mail:<br>welcome@robert-spengler.de<br>
		-->
	</p>
	
	<br>
	<br>
	
	<p>
		
		<strong>App-Informationen</strong><br>
		<br>
		APPinaut.com ist ein Projekt von <br>
		DigitalVerve - Digital Solutions <br>
		Wörenstieg 8, D-22415 Hamburg <br>
		<br>
		Entwickler: <br>
		E-Mail: <a href="mailto:info@digitalverve.de" style="color:black;font-weight:normal;">info@digitalverve.de</a> <br>
		Internet: <a href="http://www.digitalverve.de" class="external" rel="external" data-rel="external" target="_blank" style="color:black;font-weight:normal;">www.digitalverve.de</a> <br>
		<br>
		Support / Fragen zum APPinaut: <br>
		<!--
		Telefon: <a href="tel:0049-40-507465-49">0049-40-507465-49</a> <br>
		Telefax: 0049-40-507465-50 <br>
		-->
		E-Mail: <a href="mailto:info@appinaut.com" style="color:black;font-weight:normal;">info@appinaut.com</a> <br>
		Internet: <a href="http://www.appinaut.com" class="external" style="color:black;font-weight:normal;">www.appinaut.com</a> <br>
		<br>
		Rechtliche Informationen: <br>
		DigitalVerve - Digital Solutions <br>
		Steuernummer: 09/410/67786 <br>
		Finanzamt Hamburg-Nord <br>

	</p>
	<br> <br> <br>
</div>
