<div data-theme="h" data-role="header" data-position="fixed">
    <a data-ajax="true" href="#panel_left" data-icon="grid" data-iconpos="notext"></a>
    <h1><% if(parseInt(window.me.username)>0) { %>Willkommen<% } else { %><%= window.me.username %> <% } %></h1>
    <% if(checkRole("user")==true) { %>
		<a data-ajax="true" href="#panel_functions" data-icon="grid" data-iconpos="notext">Funktionen</a>
	<% } else { %>
		<a data-ajax="true" href="#panel_right" data-icon="gear" data-iconpos="notext">Login</a>
	<% } %>
</div>

<div data-role="content">

	<ul data-role="listview" data-inset="false" data-theme="c">
		<li><a href="#myprofile">
			<img style="width:60px;height:60px;padding:10px 0px 0px 10px;" src="<% if (window.me.pictureurl && window.me.pictureurl!="") { %><%= window.me.pictureurl %><% } else { %>images/avatar.jpg<% } %>">
			<h2>Mein Profil</h2>
			<p>Persönliche Daten, Beschreibung und Fachbereiche</p></a>
		</li>
		
		<% if (checkAppConfig("wall")==true) { %>
			<li><a href="#learningstreamview">
				<img style="padding:10px 0px 0px 10px;" src="images/icon-cloud-storage-001-60x60.png">
				<h2>Pinnwand</h2>
				<p>Ausgewählte Inhalte (chronologisch)</p></a>
			</li>
		<% } %>
		
		<% if (checkAppConfig("videos")==true) { %>		
			<li><a href="#videos">
				<img style="padding:10px 0px 0px 10px;" src="images/icon-multimedia-60.png">
				<h2>Mediathek</h2>
				<p>Multimediainhalte (nach Kategorien gelistet)</p></a>
			</li>
		<% } %>
		
		<% if (checkAppConfig("cards")==true) { %>
			<li><a href="#cards">
				<img style="padding:10px 0px 0px 10px;" src="images/icon-cards-60.png">
				<h2>Lernsets</h2>
				<p>Lernkarten zum interaktiven Lernen</p></a>
			</li>
		<% } %>
		
		<% if (checkAppConfig("messages")==true) { %>
			<li><a href="#messages">
				<img style="padding:10px 0px 0px 10px;" src="images/icon-message-<% if(window.me.newmsgs>0) { %>unread<% } else { %>read<% } %>-60.png">
				<h2>Nachrichten <% if(window.me.newmsgs>0) { %>(<%= window.me.newmsgs %>) <% } %></h2>
				<p>Mitteilungen an und von Wissensanbieter</p></a>
			</li>
		<% } %>			
		
		<% if (checkAppConfig("events")==true) { %>
			<li><a href="#planer">
				<img style="padding:10px 0px 0px 10px;" src="images/icon-calendar-002-resized-60.png">
				<h2>Termine</h2>
				<p>Veranstaltungstermine, -orte und -zeiten</p></a>
			</li>
		<% } %>

		<% if (checkRole("provider")==true) { %>
			<li><a href="#admin/users">
				<img style="padding:10px 0px 0px 10px;" src="images/icon-usergroup-60.png">
				<h2>Nutzerverwaltung</h2>
				<p>Benutzer dieses Personal APPinaut&reg;</p></a>
			</li>
		<% } %>
	</ul>

</div>
