<div data-role="header" data-position="fixed">
    <a id="btnBack" href="#" data-icon="back" data-iconpos="left">Zurück</a>
    <h1>Support</h1>
    <a data-ajax="true" href="#panel_right" data-icon="gear" data-iconpos="notext">Prefs</a>
</div>

<div data-role="content">

	<div style="text-align:center;">
	
		<p>
			<img src="images/appicon.png" style="max-width:40%;width:500px;">
		</p>
		
		<h1>	
			Inhalt-/Anbieter-Informationen<br>
		</h1>
		APPinaut <%= window.system.kdnr %><br>
		<br>
		
		<p>
			
		<strong>App-Informationen</strong><br>
		<br>
		APPinaut.com ist ein Projekt von <br>
		DigitalVerve - Digital Solutions <br>
		Wörenstieg 8, D-22415 Hamburg <br>
		<br>
		Entwickler: <br>
		E-Mail: <a href="mailto:info@digitalverve.de" style="color:black;font-weight:normal;">info@digitalverve.de</a> <br>
		Internet: <a href="http://www.digitalverve.de" class="external" rel="external" data-rel="external" target="_blank" style="color:black;font-weight:normal;">www.digitalverve.de</a> <br>
		<br>
		Support / Fragen zum APPinaut: <br>
		E-Mail: <a href="mailto:info@appinaut.com" style="color:black;font-weight:normal;">info@appinaut.com</a> <br>
		Internet: <a href="http://www.appinaut.com" class="external" style="color:black;font-weight:normal;">www.appinaut.com</a> <br>
		<br>
		Rechtliche Informationen: <br>
		DigitalVerve - Digital Solutions <br>
		Steuernummer: 09/410/67786 <br>
		Finanzamt Hamburg-Nord <br>
		
	</div>
</div>