<div data-theme="h" data-role="header" data-position="fixed">
    <a id="btnBack" href="#" data-icon="back" data-iconpos="notext">Zurück</a>
    <h1><%= page_vars.header_vars.title %></h1>
    <% if(checkRole("user")==true) { %>
		<a data-ajax="true" href="#panel_functions" data-icon="gear" data-iconpos="notext">Funktionen</a>
	<% } else { %>
		<a data-ajax="true" href="#panel_right" data-icon="gear" data-iconpos="notext">Login</a>
	<% } %>
</div>

<div data-role="content">

	<% console.log(page_vars) %>
	
	this is the video details page
	
	<% console.log(_this.options.stream_data) %>
	<ul id="videosListView" data-filter="true" data-filter-placeholder="Suchfilter..." data-filter-theme="a" data-role="listview" data-theme="a" data-divider-theme="b" data-autodividers="true">
		<% _.each(_this.options.stream_data, function(video) { %>
			<% if (data.active==true || window.me.id == data.uploader) { %>


				<h3 class="ui-bar ui-bar-b" style="border-top-width:0px;text-align:center;"><%= video.topic %></h3>
				<div id="youtubebox" style="width:100%;">
					<iframe id="youtube_player_1" class="youtube-player" style="width:100%;" type="text/html" src="" frameborder="0" allowfullscreen></iframe>
				</div>
				<div id="videobox" style="background-color:#000;">
					<div id="videoboxinnerdiv">
						<video id="video_player_1" class="video-js vjs-default-skin" poster="<%= video.thumbnailurl %>" data-setup="{}"></video>
					</div>
				</div>
				<div class="clear"></div>

				<div style="width:100%;height:10px;overflow:visible;text-align:center;">
					<img src="images/shadow.png" style="width:100%;height:20px;">
				</div>
				<div class="clear"></div>

				<% if(Math.round(video.price)>0) { %>
					<% if( _.indexOf(video.purchases, video.id)==-1 && video.uploaderdata.id != me.id) { %>
						<div style="padding:0px 0px 0px 0px;"><a data-inset="false" data-corners="false" data-videoid="<%= video.id %>" id="loadvideobutton" class="loadvideobutton" data-theme="b" data-role="button"><%= video.pricetext %></a></div>
					<% } else  { %>
							<% if (video.offlineurl=="") { %>
								<!-- <div style="padding:0px 20px 0px 20px;"><a data-videoid="<%= video.id %>" id="downloadvideobutton" class="downloadvideobutton" data-theme="b" data-role="button">Video offline speichern</a></div> -->
							<% } %>
					<% } %>
				<% } %>

				<% if (video.uploaderdata.id==window.me.id || window.me.master==true) { %>
					<div class="clear" style="padding:10px 0px 10px 0px;">
					<a data-inset="false" data-corners="false" data-mini="true" data-videoid="<%= video.id %>" id="setusergroupbtn" class="setusergroupbtn" data-theme="b" data-role="button">Zugriffrechte einschränken</a>
				<% } %>
				<div class="clear"></div>

				<div style="padding:0px 20px 60px 20px;">
					
					<div class="title">
						<h5 class="resizetext" style="font-size:24px;line-height:1.3em;" >
							<div class="readmoretitle" style="font-size:24px;"><%= video.title %></div>
						</h5>
					</div>
					<div class="clear"></div>
					<div class="description resizetext" style="line-height:1.5em;">

						<div style="width:25%;height:0px;overflow:visible;float:right;">
							<div style="width:100%;height:auto;overflow:visible;text-align:right;">
								<span id="functionBar">
									<% if(checkAppConfig("messages")==true) { %><span><a id="sendMessageBtn" class="sendMessageBtn" style="font-weight:normal;"><!--Optionen--><img alt="Nachricht schreiben..." title="Nachricht schreiben..." style="padding-top:0px;height:24px;" src="./images/icon-testimonials.png"></a></span><% } %>
									<span><a id="showOptionsBtn" class="showOptionsBtn" style="font-weight:normal;"><!--Optionen--><img alt="Melden..." title="Melden..." style="padding-top:0px;height:26px;" src="./images/icon-services.png"></a></span>
								</span>
							</div>
						</div>

						<% if (window.system.aoid != video.uploaderdata.id) { %>
							<strong><div class="readmorename"><%= video.uploader %></div></strong>
							<div class="clear"></div>
						<% } %>
						
						<div id="toggleDiv" style="display:none;padding:0px 0px 0px 0px;width:100%;">
							<div style="float:right;clear:both;">
								<span><a id="complainvideolink" class="complainvideolink red" style="font-weight:normal;" data-videoid="<%= video.id %>">Beschwerde schreiben</a></span>
							</div>
							<div style="float:right;clear:both;">
								<% if(video.ireported >= 0) { %><% } else { %><span><a id="reportvideolink" class="reportvideolink red" style="font-weight:normal;" data-videoid="<%= video.id %>">Verstoß melden<br></a></span><% } %>
							</div>
							<div class="clear"></div>
						</div>

						<div style="padding-top:10px;">
							<a id="detailsvideolink" class="detailsvideolink" style="font-weight:normal;" data-videoid="<%= video.id %>">
								Details anzeigen
							</a>
							<div id="videodetailsdiv" style="display:none;">
								<!-- Länge: <% if( _.indexOf(video.purchases, video.id)==-1 && video.uploaderid != me.id) { %>max. 60 Sekunden (Vorschau)<% } else  { %><%= video.vlength %><% } %> -->
								Länge: <% if(video.vlength==undefined || Math.ceil(video.vlength/60)==0) { %>Unbekannt<% } else { %>ca. <%= Math.ceil(video.vlength/60) %> Minuten<% } %>
								<div class="clear"></div>
								Dateigröße: <% if(video.vsize==undefined || Math.round(video.vsize*100/1024/1024)/100==0) { %>Unbekannt<% } else { %>ca. <%= Math.round(video.vsize*100/1024/1024)/100 %> Mbyte<% } %>
								<div class="clear"></div>
								Bereitstellung: <%= dateYmdHisToGerman(video.cdate) %>
								<div class="clear"></div>
								<<% if(window.me.id==video.uploaderdata.id) { %>a<% } else {%>div<% } %> data-id="<%= video.id %>" <% if(window.me.id==video.uploaderdata.id) { %>id="changePriceBtn" <% } %> >Preis: <% if(video.price==undefined || Math.ceil(video.price==0)) { %>kostenlos<% } else { %><%= video.price %> APPinaut&reg; Coins<% } %></<% if(window.me.id==video.uploaderdata.id) { %>a<% } else {%>div<% } %>>
								<div class="clear"></div>
								<div class="clear" style="padding-bottom:10px;"></div>
							</div>
						</div>	
						<div class="clear"></div>
						<div class="readmore"><%= video.description %></div>
					</div>
					<div class="clear"></div>

					<ul data-role="listview" data-inset="true">
						<% if (video.related.length>0) { %>
							<li data-theme="a" data-role="list-divider">Das könnte interessant sein...</li>
						<% } %>
						<% var displayedvideos = 0; %>
						<% _.each(video.related, function(related) { %>
							<% if( related.id != video.id ) { %>
								<% displayedvideos += 1; %>
								<li style="max-height:60px !important;">
									<a class="showVideoDetailsLink" href="<%= related.href %>">
									<img style="padding:8px 0px 8px 25px;height:40px !important;max-height:40px !important;max-width:40px !important;" src="<%= related.icon %>" />
									<h6 style="padding:0px 0px 10px 0px;margin:0;"><%= related.title %></h6>
									<p><%= related.description %></p>
									</a>
								</li>
							<% } %>
						<% }); %>
						<% if( video.provider < 0  && 1==2) { %>
							<li style="max-height:60px !important;">
								<a class="showVideoDetailsLink" href="#myprofile">
								<img style="padding:8px 0px 8px 25px;height:40px !important;max-height:40px !important;max-width:40px !important;" src="images/avatar.jpg" />
								<h6 style="padding:0px 0px 10px 0px;margin:0;">Wissensanbieter werden</h6>
								<p>Bieten Sie jetzt Ihr Wissen an.</p>
								</a>
							</li>
						<% } else { %>
							<% if (displayedvideos<5 && 1==2) { %>
								<li style="max-height:60px !important;">
									<a class="showVideoDetailsLink" href="#videos/record">
									<img style="padding:8px 0px 8px 25px;height:40px !important;max-height:40px !important;max-width:40px !important;" src="images/avatar.jpg" />
									<h6 style="padding:0px 0px 10px 0px;margin:0;">Sie auf diesem Platz?</h6>
									<p>Stellen Sie hier Ihr Video ein...</p>
									</a>
								</li>
							<% } %>
						<% } %>
					</ul>

				</div>

				<br><br><br>


			<% } %>
		<% }); %>
	</ul>
	
</div>